src/main/mule/implementations/register-covid-case.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
	
    <flow name="post:\cases:application\json:uhub-sapi-config">
		<ee:transform doc:name="Set correlationId And inputPayload" doc:id="a9d15371-7d61-47af-8deb-6c6f1167d27f" >
			<ee:message />
			<ee:variables >
				<ee:set-variable variableName="correlationId" ><![CDATA[attributes.headers.'x-correlation-id' default ""]]></ee:set-variable>
				<ee:set-variable variableName="inputPayload" ><![CDATA[payload]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Start Log" doc:id="f628bce2-6c56-45c7-822b-ebb2b94ac499" message='transactionID: #[vars.transactionId]], correlationID: #[vars.correlationId], message: "Started update covid case flow", payload: #[payload]' />
		<flow-ref doc:name="insert-covid-case-sub-flow" doc:id="9ee0d7fb-446e-48ef-97bd-8860432f7cf1" name="insert-covid-case-sub-flow" />
		<ee:transform doc:name="Prepare Response" doc:id="bfe2b2f5-1e0a-4970-aa5c-65eab0fd8492" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  caseID: payload.case_id as String
}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="httpStatus" ><![CDATA[201]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="End Log" doc:id="1f6b0548-6713-4282-8e25-b5ca0140daa7" message='transactionID: #[vars.transactionId]], correlationID: #[vars.correlationId], message: Completed register covid case flow, payload: #[payload]"' />
    </flow>
	</mule>
